.header__lang-link {
    font-size: 24px;
    line-height: 1.17;
    font-style: normal;
    font-weight: normal;
    margin-right: 18px;
    text-decoration: none;
    color: #fff;
}

.header__lang-link:last-of-type {
    margin: 0;
}

@media and (max-width:425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.33;
    }
}