@import url(./__item/photo-grid__item.css);

.photo-grid {
    padding: 92px 48px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-gap: 16px;
    justify-content: center;

}

@media screen and (max-width:1190px) {
    .photo-grid {
        grid-template-columns: repeat(3,300px);
        grid-gap: 14px;
    }
}

@media screen and (max-width:980px) {
    .photo-grid {
        padding: 88px 24px; 
        grid-template-columns: repeat(2, 352px);
        grid-gap: 16px;
    }
}

@media screen and (max-width:758px) {
    .photo-grid {
        padding: 64px 16px;
        grid-template-columns: repeat(1, 288px);
        grid-gap: 12px;
    }
}