.photo-grid__item {
    min-height: 213px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:1190px) {
    .photo-grid__item {
        min-height: 225px;
    }
}

@media screen and (max-width:980px) {
    .photo-grid__item {
        min-height: 264px;
    }
}

@media screen and (max-width:758px) {
    .photo-grid__item {
        min-height: 216px;
    }
}