@import url(./__content/root__content.css);

.root {
    background-color: hsl(216, 6%, 17%);
    font-family: 'Inter', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    color: #ffffff;
}