.cover__overlay {
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 740px; 
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1024px){
    .cover__overlay{
        height: 640px;
    }
}

@media screen and (max-width: 768px){
    .cover__overlay{
        height: 480px;
    }
}

@media screen and (max-width: 425px){
    .cover__overlay{
        height: 200px;
    }
}